@import url('https://fonts.googleapis.com/css?family=Montserrat');
.Contenedor{
    
       margin-left: 200px;
       overflow:hidden;
}
.Categorias
{
      margin-left: 10px;
    height: auto;
    width: 200px;
    float:left;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: saddlebrown;
  color: white;
  text-align: center;
}
.Menu
{
    margin-left: 5px;
    height: auto;
    width: 460px;
    float:left;
}
th, td {
  padding: 4px;
  text-align: left;
  border-bottom: 1px solid black;
}
.formulaio 
{
    max-width: 500px;
    margin: 2rem auto;
    border: 5px solid orangered;
    padding: 2rem;
    

    
}
li>ul{
    
    display: none;
    position: absolute;
    min-width: 92px;
}
.Nav>li:hover>ul{
   
 display: block;
background: orange; 
 
    
}
.formulario_table 
{
    max-width: 700px;
    margin: 2rem auto;
    border: 5px solid orangered;
    padding: 2rem;
    

    
}
.formulaio_veri 
{
    
    margin: 2rem auto;
    border: 5px solid orangered;
    padding: 2rem;
    

    
}
  .input_form{
   
    width: 40%;
    border: 2px solid #298089;
    padding: .5rem;
    font-size:12px;
    border-radius: 5px;
    
}
.Datos
{
    padding: 15px;
    margin-left: 5px;
    height: auto;
    width: 50%;
    float:left;
    
}
.Margen_left{
    
    margin-left: 26px;
}
.Items  
{
    padding: 15px;
    margin-left: 200px;
    height: auto;
    width: auto;
    float:left;
    
}
.Orden
{
    padding: 15px;
    margin-left: 5px;
    height: auto;
    width: auto;
    float:left;
    
}
.items{
    
    font-size: 11px;
}
.Block_window_left
{
    margin-left: 5px;
    height: auto;
    width: auto;
    float:left;
}
.Block_window_opciones
{
   
    height: auto;
    width: 20%;
    float:left;
}
table{
    width: 100%;
    
}
.Block_window_block2
{
   
    height: auto;
    width: 80%;
    float:left;
}
.Block_window
{
   
    height: auto;
    width: auto;
    float:left;
}
.Block_precio{
    text-align: right;
    
}
.Contenedor_plato{
    
     
       overflow:hidden;
}

.type_Orden
{
    
     padding-top: 20px;
    height: auto;
    width: auto;
    float:left;
}
.plato
{
    margin-left: 10px;  
    height: auto;
    width: 300px;
    float:left;
}
.precio_añadir
{
  margin-left: 10px;   
    height: auto;
    width: 60px;
    float:left;
}
.blocker {
position: absolute;
top: 0px;
left: 0px;
height:100%;
width:100%;        /* hacemos que ocupe toda la pantalla a cualquier resolución*/
z-index: 50;        /* lo colocamos por encima del resto de componentes*/
}


#c188:checked ~ .btn::after{
     content: '\2B9D';
   
}
.acordeon__item input[type="checkbox"],.Display_none{
    
    display: none;
}

.acordeon input[type="checkbox"],.type_Orden input[type="radio"],.Menu input[type="checkbox"] {
    
    display: none;
}

.acordeon__titulo{
    display: block;
    padding: 15px;
    width: 440px;
    color: black;
    font-size: 20px;
    cursor:pointer;
    border-bottom: 1px solid #fff;
   
    
}
.switch_order{
   
    padding: 5px;
    width: auto;
    color: black;
    font-size: 20px;
    cursor:pointer;
    
   
    
}

.acordeon__titulo::after{
    content: '\2B9F';
    
    float:right;
}

    
 
.acordeon__contenido{
    height: 0;
    overflow: hidden;
    margin: 0;
    transition: all 0.5s;
    
}
.acordeon input:checked ~ .acordeon__contenido{
    height: auto;
    margin: 15px 0;
   
}
.acordeon input:checked  ~ .acordeon__titulo::after{
content: '\2B9D';
   
}

.type_Orden input:checked ~ .switch_order,input:checked ~ .switch_order {
    
    background: orangered;
}
input[type='button']
{
    
    background: orange;
}
.ventana{
    background: orange;
    width: 35%;
    height:auto;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: left;
    padding: 20px;
    min-height: 250px;
    border-radius: 23px;
    position: absolute;
    left:31%;
        top: 10%;
        display:none;
}
#cerrar{
    position: absolute;
    right:3px;
    top: 1px;
    
}


ul{
   list-style: none;
   margin: 0;
   padding: 0;
    
    
}
#Menu a:hover{
    color: rgba(255,153,0,1);
    background: rgba(0,0,0,0.2);
    animation: 1s ms 1;
}
.Nav>li{
    
 float: right;   
    
}
.link{
    text-decoration: none;
    color: orangered;
}
li>a{
   color:black;
   text-decoration: none;
   display: block;
   padding: 12px 26px;
   font-family: "Oswald";
   font-size: 14px;
}
#Menu{
 /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fceabb+0,fccd4d+50,f8b500+51,fbdf93+100;Orange+3D+%235 */
background: rgb(252,234,187); /* Old browsers */
background: -moz-linear-gradient(top,  rgb(252,234,187) 0%, rgb(252,205,77) 50%, rgb(248,181,0) 51%, rgb(251,223,147) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgb(252,234,187) 0%,rgb(252,205,77) 50%,rgb(248,181,0) 51%,rgb(251,223,147) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgb(252,234,187) 0%,rgb(252,205,77) 50%,rgb(248,181,0) 51%,rgb(251,223,147) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=0 ); /* IE6-9 */

    width: 1263px;
    height: 52px;
    
    
}